{# <!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<section id="footer-1391">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="{{ '/assets/images/logo-white.png' | url}}" alt="logo" width="209" height="40">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="/" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/about/" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="/#amenities" class="cs-link">Amenities</a>
                </li>
                <li class="cs-li">
                    <a href="/layouts/" class="cs-link">Layouts</a>
                </li>
                <li class="cs-li">
                    <a href="/gallery/" class="cs-link">Gallery</a>
                </li>
                <li class="cs-li">
                    <a href="/virtual-tour/" class="cs-link">Virtual Tour</a>
                </li>
                <li class="cs-li">
                    <a target="_blank" href="{{ '/assets/images/SUNNNINGDALE_RENTAL_UNITS.pdf' | url }}" class="cs-link">
                        Brochure
                    </a>
                </li>
                <li class="cs-li">
                    <a href="/contact/" class="cs-link">Contact</a>
                </li>
            </ul>
            <p class="cs-link"></p>
        </div>
        <div class="cs-bottom">
            <!--Social-->
            <!-- <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="facebook" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/face-white1.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-white.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="instagram" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
            </ul> -->
            <span class="cs-copyright">
                © Copyright 2024 - Sunningdale Heights
            </span>
        </div>
    </div>
</section> #}

<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-840">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/logo-white.png" alt="logo" width="240" height="32">
            </a>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul cs-ul-1">
                <li class="cs-li">
                    <a href="/" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/about/" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="/#amenities" class="cs-link">Amenities</a>
                </li>
                <li class="cs-li">
                    <a href="/layouts/" class="cs-link">Layouts</a>
                </li>
                <li class="cs-li">
                    <a href="/gallery/" class="cs-link">Gallery</a>
                </li>
                <li class="cs-li">
                    <a href="/virtual-tour/" class="cs-link">Virtual Tour</a>
                </li>
                <li class="cs-li">
                    <a target="_blank" href="{{ '/assets/images/SUNNNINGDALE_RENTAL_UNITS.pdf' | url }}" class="cs-link">
                        Brochure
                    </a>
                </li>
                <li class="cs-li">
                    <a href="/contact/" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Opening Hours</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <span class="cs-link">
                        Monday: Closed
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Tuesday: 11am - 7pm
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Wednesday: 11am - 7pm
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Thursday: 10am - 6pm
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Friday: 10am - 6pm
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Saturday: 10am - 4pm 
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Sunday: Closed
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2025 <a href="/" class="cs-credit-link" target="_blank">Sunningdale Heights</a>
        </span>
    </div>
</footer>