<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-840">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/logo-white.png" alt="logo" width="240" height="32">
            </a>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul cs-ul-1">
                <li class="cs-li">
                    <a href="/" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/about/" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="/#amenities" class="cs-link">Amenities</a>
                </li>
                <li class="cs-li">
                    <a href="/layouts/" class="cs-link">Layouts</a>
                </li>
                <li class="cs-li">
                    <a href="/gallery/" class="cs-link">Gallery</a>
                </li>
                <li class="cs-li">
                    <a href="/virtual-tour/" class="cs-link">Virtual Tour</a>
                </li>
                <li class="cs-li">
                    <a target="_blank" href="{{ '/assets/images/SUNNNINGDALE_RENTAL_UNITS.pdf' | url }}" class="cs-link">
                        Brochure
                    </a>
                </li>
                <li class="cs-li">
                    <a href="/contact/" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Opening Hours</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <span class="cs-link">
                        Monday: Closed
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Tuesday: 11am - 7pm
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Wednesday: 11am - 7pm
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Thursday: 10am - 6pm
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Friday: 10am - 6pm
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Saturday: 10am - 4pm 
                    </span>
                </li>
                <li class="cs-li">
                    <span class="cs-link">
                        Sunday: Closed
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2025 <a href="/" class="cs-credit-link" target="_blank">Sunningdale Heights</a>
        </span>
        <span class="cs-credit">
            <a href="/privacy/" class="cs-credit-link">Privacy Policy</a>
        </span>
    </div>
</footer>