---
title: 'Layouts'
description: 'Layouts'
permalink: 'layouts/'
eleventyNavigation:
    key: Layouts
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ '/assets/css/layouts.css' | url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
    <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

    <style>
        a.glightbox {
            text-decoration: none !important;

        }
        a p {
            font-weight: bold;
            text-align: center;
        }
    </style>

{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Layouts</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="{{ '/assets/images/20-onebed.jpg' | url }}">
            <source media="(min-width: 601px)" srcset="{{ '/assets/images/20-onebed.jpg' | url }}">
            <img aria-hidden="true" decoding="async" src="{{ '/assets/images/20-onebed.jpg' | url }}" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <!--
    To add a 5th or 6th gallery or more, copy and paste the cs-button and change it's data-filter to th next number, in this case it's 5. Do the dame to the cs-gallery and its data-category number. And thats it!
-->

    <section id="gallery-1449">
        <div class="cs-container">
            <rhenti-listings
      whitelabel-id="67f6b0feafd4e2531f119d8f"
      building-id=""
      show-filter="true"
      show-floorplan="false"
      allow-chat="true"
      allow-schedule="true"
      allow-date="true"
      language="en"
      show-half-rooms="false"
      button-label=""
    ></rhenti-listings>
        </div>

    </div>
</section>

<script>

    const lightbox = GLightbox({selector: '.glightbox'});

    class GalleryFilter {
        filtersSelector = '.cs-button';
        imagesSelector = '.cs-gallery a';
        activeClass = 'cs-active';
        hiddenClass = 'cs-hidden';

        constructor() {
            const $filters = document.querySelectorAll(this.filtersSelector);
            this.$activeFilter = $filters[0];
            this.$images = document.querySelectorAll(this.imagesSelector);

            this
                .$activeFilter
                .classList
                .add(this.activeClass);

            for (const $filter of $filters) {
                $filter.addEventListener('click', () => this.onClick($filter));
            }
        }

        onClick($filter) {
            this.filter($filter.dataset.filter);

            const {activeClass} = this;

            this
                .$activeFilter
                .classList
                .remove(activeClass);
            $filter
                .classList
                .add(activeClass);

            this.$activeFilter = $filter;
        }

        filter(filter) {
            const showAll = filter === 'all';

            for (const $image of this.$images) {
                const category = $image.getAttribute('data-category');
                const show = showAll || category === filter;

                $image.style.display = show
                    ? 'inline-block'
                    : 'none';
            }
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        new GalleryFilter();
    });
</script>

{% include 'components/cta.html' %}

{% endblock %}